
.sidebar
{
    position:fixed;
    width:16.67vw;
    height:100vh;
}

.main
{
    margin-left:16.67vw;
    width:83.33vw;
}

.update-subscriptions 
{
    bottom:-96px;
}

.update-subscriptions.active
{
    bottom:0;
}