
.hero
{
    height:100vh;
}

.hero__content
{
    padding-left:9%;
}

.services-image
{
    height:410px;
}

.setup-image
{
    height:570px;
}

.bot-image 
{
    height:550px;
}

@media(max-width:1025px)
{
    .hero
    {
        height:60vh;
    }

    .hero__content
    {
        padding-left:0;
    }
}

@media(max-width:810px)
{
    .bot-image
    {
        height:450px;
    }
}

@media(max-width:769px) 
{
    .services-image
    {
        height:400px;
    }

    .bot-image
    {
        height:400px;
    } 

    .setup-image
    {
        height:500px;
    }
}

@media(max-width:576px)
{
    .hero
    {
        height:70vh;
    }
}