
.no-items
{
    height:calc(100vh - 160px)
}

.no-items__content
{
    position:relative;
    top:-8vh;
}

.no-items__image
{
    width:250px;
}

.no-items__message
{
    width:400px;
}

@media(max-width:576px)
{
    .no-items__content
    {
        top:-4vh;
    }

    .no-items__message
    {
        width:80%;
    }
}